.container {
  color: black;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 30px auto;
  width: 20vw;
}

.container-overlay {
  opacity: 100%;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  position: absolute;
  top: 50;
  left: 50;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 3vw;
}
.container-overlay p {
  color: white;
}

.code_box {
  width: 2vw;
  height: 2vw;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
}

.red {
  background-color: red;
  color: red;
}
.yellow {
  background-color: yellow;
  color: yellow;
}
.black {
  background-color: black;
  color: black;
}
.blue {
  background-color: blue;
  color: blue;
}

.btn-submit {
  width: 5vw;
  height: 2.5vw;
  margin: 2px auto;
  color: white;
  background: black;
  border-radius: 50%;
  margin: 0px;
}
